* {
    margin: 0;
    padding: 0;
    left: 50%;
    text-align: center;
    background-color: #D3D3D3;
}

body {
    margin-top: 350px;
    background-color: #D3D3D3;
    margin-left: 30%;
    margin-right: 30%;
}
h1{
    font-weight: bold;
}
.b1{
    background-color: #0892D0;
    font-weight: bold;
}
.b2{
    background-color: #B80000 ;
    font-weight: bold;
}
.b3{
    background-color: #FFA500;
    font-weight: bold;
}